InputConfig(
    bindings: {
        "Action": {

            // The 'Defend'-action is not overridden.
            // The binding from the base config (Q) applies.
            // "Defend": [
            //     Pulse(JustPressed([Key(A)])),
            // ],

            // The 'Attack'-action is overridden.
            // The binding from the base config (W) doesn't work anymore. Instead, you have to press the S key.
            "Attack": [
                Pulse(JustPressed([Key(KeyS)])),
            ],

        },
    },
)
