InputConfig(
    bindings: {
        "CheatCodes": {
            "Password": [
                Pulse(Sequence(1000, [
                    [Key(KeyP)], [Key(KeyA)], [Key(KeyS)], [Key(KeyS)], [Key(KeyW)], [Key(KeyO)], [Key(KeyR)], [Key(KeyD)],
                ])),
            ],
            "KonamiCode": [
                Pulse(Sequence(2000, [
                    [Key(ArrowUp)], [Key(ArrowUp)], [Key(ArrowDown)], [Key(ArrowDown)],
                    [Key(ArrowLeft)], [Key(ArrowRight)], [Key(ArrowLeft)], [Key(ArrowRight)],
                    [Key(KeyB)], [Key(KeyA)],
                ])),
            ],
        },
    },
)
