InputConfig(
    bindings: {
        "Action": {
            "Defend": [
                Pulse(JustPressed([Key(KeyQ)])),
            ],
            "Attack": [
                Pulse(JustPressed([Key(KeyW)])),
            ],
        },
    },
)
